<!DOCTYPE html>
<html lang="es">
<head>
		<link rel="stylesheet" href="/stylesheet/style.css">
<body>
	
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Estás editando: <i><%= productFound.name %></i></h2>
			</div>
		</div>
		<div class="col-12">
			<form action="/product/edit/<%=productFound.id %>" method="POST">
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="name" class="form-label">Nombre del producto:</label>
						<input type="text" id="name" name="name" value="<%= productFound.name %>"  placeholder="Ej: Zapatillas Reebok" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="price" class="form-label">Precio del producto:</label>
						<input type="text" id="price" name="price" value="<%= productFound.price %>" placeholder="Ej: 5678" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="marca" class="form-label">Marca del producto:</label>
						<input type="text" id="marca" name="marca" value="<%= productFound.marca %>" placeholder="Ej: 15" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="stock" class="form-label">Stock del producto:</label>
						<input type="text" id="stock" name="stock" value="<%= productFound.stock %>" placeholder="Ej: 5678" class="form-input">
					</div>
					<div class="col-12">
						<label for="description" class="form-label">Descripcion:</label>
						<textarea name="description" id="description" class="form-input"><%= productFound.description %></textarea>
					</div>
					<div class="col-12">
						<button type="submit" class="buy-now-button">Guardar producto</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	<!-- /todos los productos -->

</body>	
</head>
</html>